.container-fluid {
  background-color: black;
  color: white;
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 36px;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.fa-x {
  display: none;
}
.close-menu {
  display: none;
}

.sidebar ul {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar ul li {
  margin: 0 15px;
  list-style: none;
  position: relative;
  font-weight: 600;
}
.sidebar ul li::before {
  content: "";
  border-bottom: 1px solid #b10000;
  background-color: red;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  transition: 0.5s;
}
.sidebar ul li:hover::before {
  width: 100%;
}
.thumb {
  width: 5%;
  background-color: black;
  position: absolute;
  right: 45%;
  transform: translateX(-60%);
}
.menu-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu-right i {
  font-size: 23px;
}
.cart-header .cart {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-header .cart .label {
  display: grid;
  line-height: 1.1;
  font-size: 13px;
}
.cart-header .cart .cart-store {
  position: relative;
}
.cart-header .cart .cart-store .count-1 {
  position: absolute;
  top: -3px;
  right: -11px;
  height: 17px;
  width: 17px;
  background: linear-gradient(250deg, #b10000 0%, #000000 100%);
  color: white;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border-radius: 5px;
}
.sub-header .anounce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  margin: 20px 40px;
}
.sub-header .anounce a {
  text-decoration: none;
  color: white;
}
.sub-header .anounce a span {
  text-decoration: underline;
}
.search-header {
  border: 2px solid gray;
  padding: 5px 50px;
  border-radius: 0 20px 0 20px;
}
.search-header input {
  border: none;
  padding: 5px 10px;
  color: white;
}
.search-header input:focus {
  border: none;
  outline: none;
}
@media (max-width: 992px) {
  .close-menu {
    display: block;
    padding-left: 20px;
  }
  .sidebar {
    width: 30%;
    margin: 30px auto;
    border: 2px solid black;
    padding: 20px;
  }
  .sidebar input {
    width: 100%;
    padding: 10px;
  }
  .fa-bars {
    font-size: 22px;
  }
  .fa-x {
    display: block;
    background-color: #b10000;
    color: white;
    text-align: start;
    padding: 10px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: fixed;
    right: -500px;
    top: 0;
    height: 100vh;
    background-color: white;
    color: black;
    padding: 20px;
    transition: 0.5s;
    z-index: 10;
    font-size: 20px;
  }

  .menu.active {
    right: 0;
  }
  .header {
    padding: 0px 20px;
  }
  .thumb {
    left: 5%;
    transform: translateX(-10%);
    width: 10%;
  }
}
